apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer # 외부에서 접속 가능하게 함 (AWS CLB/NLB 생성됨)
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2 # 부하 분산 테스트를 위해 2개로 시작
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: clouddxuser/ticket-backend:v1 # 이미지 빌드 후 주소 변경 필요
        resources: # 오토스케일링(HPA)을 위해 리소스 제한 필수
          requests:
            cpu: "250m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"